In [4]:
#FILE PROCESSING

import pandas as pd

excel_file_path = r'C:\Users\spars\OneDrive\Desktop\chicago\stat41551\Raw_Data.xlsx'
df = pd.read_excel(excel_file_path)
xls = pd.ExcelFile(excel_file_path)
sheet_names = xls.sheet_names  

for sheet_name in sheet_names:
    df = pd.read_excel(excel_file_path, sheet_name=sheet_name)
    csv_file_path = f"path_to_save_{sheet_name}.csv"
    df.to_csv(csv_file_path, index=False)

    print(f"CSV file for sheet '{sheet_name}' saved successfully!")

CSV file for sheet 'ReadMe' saved successfully!
CSV file for sheet 'Trebles' saved successfully!
CSV file for sheet 'Doubles' saved successfully!

In [5]:
csv_file_path_trebles = r"path_to_save_Trebles.csv"
csv_file_path_doubles = r"path_to_save_Doubles.csv"

df_trebles = pd.read_csv(csv_file_path_trebles)
df_doubles = pd.read_csv(csv_file_path_doubles)

In [6]:
'''
STEP 1: DATA PROCESSING/CLEANING - For the sake of previty, we only consider the data with the players aiming for Trebles.
'''

'\nSTEP 1: DATA PROCESSING/CLEANING - For the sake of previty, we only consider the data with the players aiming for Trebles.\n'

In [7]:
original_column_names = df_trebles.columns
column_rename_mapping = {
    'Unnamed: 0': 'Player',
    'Unnamed: 1': 'GARBAGE',
    'T20 attempt': '(T20, T20)',
    'Unnamed: 3': '(T20, S20)',
    'Unnamed: 4': '(T20, T5)',
    'Unnamed: 5': '(T20, S5 )',
    'Unnamed: 6': '(T20, T1)',
    'Unnamed: 7': '(T20, S1)',
    'Unnamed: 8': 'SUCCESS RATE',
    'Unnamed: 9': 'GARBAGE',
    'T19 attempt': '(T19, T19)',
    'Unnamed: 11': '(T19, S19)',
    'Unnamed: 12': '(T19, T7)',
    'Unnamed: 13': '(T19, S7)',
    'Unnamed: 14': '(T19, T3)',
    'Unnamed: 15': '(T19, S3)',
    'Unnamed: 16': 'SUCCESS RATE',
    'Unnamed: 17': 'GARBAGE',
    'T18 attempt': '(T18, T18)',
    'Unnamed: 19': '(T18, T18)',
    'Unnamed: 20': '(T18, T4)',
    'Unnamed: 21': '(T18, S4)',
    'Unnamed: 22': '(T18, T1)',
    'Unnamed: 23': '(T18, S1)',
    'Unnamed: 24': 'SUCCESS RATE',
    'Unnamed: 25': 'GARBAGE',
    'T17 attempt': '(T17, T17)',
    'Unnamed: 27': '(T17, S17)',
    'Unnamed: 28': '(T17, T3)',
    'Unnamed: 29': '(T17, S3)',
    'Unnamed: 30': '(T17, T2)',
    'Unnamed: 31': '(T17, S2)',
    'Unnamed: 32': 'SUCCESS RATE'
}

df_trebles_renamed = df_trebles.rename(columns = column_rename_mapping)

columns_to_drop = ['GARBAGE', 'SUCCESS RATE']
df_trebles_clean = df_trebles_renamed.drop(df_trebles_renamed.index[0]).drop(columns = columns_to_drop)

In [8]:
df_trebles_clean

,Player,"(T20, T20)","(T20, S20)","(T20, T5)","(T20, S5 )","(T20, T1)","(T20, S1)","(T19, T19)","(T19, S19)","(T19, T7)",...,"(T18, T4)","(T18, S4)","(T18, T1)","(T18, S1)","(T17, T17)","(T17, S17)","(T17, T3)","(T17, S3)","(T17, T2)","(T17, S2)"
1,Michael Smith,3761,4624,203,293,58,109,982,1251,35,...,8,13,12,13,114,216,6,2,4,3
2,Michael van Gerwen,5134,5464,227,240,107,169,2259,2401,58,...,30,19,13,14,68,144,2,2,3,6
3,Nathan Aspinall,2572,3143,103,148,75,136,593,707,26,...,15,6,1,1,49,87,2,1,2,3
4,Peter Wright,4926,6024,254,319,212,357,532,625,25,...,13,11,3,5,102,172,5,4,2,5
5,Rob Cross,4117,5017,99,134,108,248,1531,1882,33,...,59,48,7,19,33,77,2,5,0,0
6,Adrian Lewis,1573,2027,66,103,88,173,350,491,18,...,18,17,3,3,13,48,2,0,0,3
7,Simon Whitlock,1261,1920,73,106,42,77,464,684,25,...,10,18,2,7,34,79,1,2,1,1
8,Daryl Gurney,4014,5243,217,264,53,143,772,1109,39,...,15,8,2,8,72,147,3,7,2,4
9,Dave Chisnall,2985,3191,154,207,104,209,671,680,46,...,20,11,2,7,42,91,2,6,0,4
10,Gary Anderson,1849,2075,85,126,91,137,379,467,12,...,14,10,5,10,59,88,1,3,1,3
11,Gerwyn Price,4077,4472,253,276,175,185,1156,1423,38,...,15,21,5,12,82,108,4,2,0,3
12,Ian White,2784,3259,111,206,103,212,499,553,35,...,10,13,3,6,27,57,2,2,0,0
13,James Wade,3840,5584,116,271,121,170,336,550,7,...,4,8,5,4,54,79,5,0,1,4
14,Joe Cullen,1163,1608,59,80,39,108,498,626,16,...,16,16,4,4,18,32,0,1,0,1
15,Jonny Clayton,1295,1822,85,149,41,83,147,200,10,...,2,4,2,0,22,23,0,1,0,0
16,Mensur Suljovic,3141,4095,144,291,51,94,376,585,17,...,7,5,0,3,35,51,2,4,0,1

In [9]:
'''
STEP 2: Generate Likelihood
'''

'\nSTEP 2: Generate Likelihood\n'

In [59]:
%run darts-probability-generation.ipynb

S18
54
['S1', 'S2', 'S3', 'S4', 'S5', 'S6', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13', 'S14', 'S15', 'S16', 'S17', 'S18', 'S19', 'S20', 'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'D16', 'D17', 'D18', 'D19', 'D20', 'T1', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'T8', 'T9', 'T10', 'T11', 'T12', 'T13', 'T14', 'T15', 'T16', 'T17', 'T18', 'T19', 'T20', 'OOB', 'BULL', 'BULLO']
{'S1': 0.0, 'S2': 0.0, 'S3': 0.0, 'S4': 0.022233338723722115, 'S5': 0.0, 'S6': 0.0, 'S7': 0.0, 'S8': 0.0, 'S9': 0.0, 'S10': 0.0, 'S11': 0.0, 'S12': 0.0, 'S13': 0.0, 'S14': 0.0, 'S15': 0.0, 'S16': 0.0, 'S17': 0.0, 'S18': 0.9777666612762764, 'S19': 0.0, 'S20': 0.0, 'D1': 1.0904161207021266e-224, 'D2': 0.0, 'D3': 0.0, 'D4': 0.0, 'D5': 0.0, 'D6': 0.0, 'D7': 0.0, 'D8': 0.0, 'D9': 0.0, 'D10': 0.0, 'D11': 0.0, 'D12': 0.0, 'D13': 0.0, 'D14': 0.0, 'D15': 0.0, 'D16': 0.0, 'D17': 0.0, 'D18': 4.47551033505493e-17, 'D19': 0.0, 'D20': 0.0, 'T1': 0.0, 'T2': 0.0, 'T3': 0.0, 'T4': 1.3155075082039464e-215, 'T5': 0.0, 'T6': 0.0, 'T7': 0.0, 'T8': 0.0, 'T9': 0.0, 'T10': 0.0, 'T11': 0.0, 'T12': 0.0, 'T13': 0.0, 'T14': 0.0, 'T15': 0.0, 'T16': 0.0, 'T17': 0.0, 'T18': 1.3155075082039464e-215, 'T19': 0.0, 'T20': 0.0, 'OOB': 2.2377551675274626e-16, 'BULL': 0.0, 'BULLO': 0.0}
0.9999999999999988

In [60]:
def probability_making_throw(region_aim, region_true, sigma):
    mu = region_to_center(region_aim)
    return compute_total_probability(mu, sigma**2)[region_true]

In [61]:
probability_making_throw('T20', 'T5', 5)

0.04074820208870382

In [62]:
#NEED TO OPTIMIZE THIS

def log_likelihood(player, sigma):
    # Information Extraction
    player_row = df_trebles_clean.loc[df_trebles_clean['Player'] == player].iloc[0]
    player_scores = player_row[1:]

    # Initial Final Probability Computation
    total = player_scores.sum()
    
    # Calculate Multinomial Coefficient
    log_multi_coef = math.log(math.factorial(total))
    log_multi_coef -= np.sum([math.log(math.factorial(num)) for num in player_scores])

    # Calculate All the Event Probabilities
    log_event_prob = 0
    for i, num in enumerate(player_scores):
        column = player_row.index[i + 1][1:-1]
        aim, end = column.replace('(', '').replace(')','').split(',')
        aim = aim.strip()
        end = end.strip()
        log_event_prob += num * np.log(probability_making_throw(aim, end, sigma**2))

    return log_multi_coef + log_event_prob

In [77]:
log_likelihood('Jonny Clayton', 3)

0.041666666666666664
0.08333333333333333
0.125
0.16666666666666666
0.20833333333333334
0.25
0.2916666666666667
0.3333333333333333
0.375
0.4166666666666667
0.4583333333333333
0.5
0.5416666666666666
0.5833333333333334
0.625
0.6666666666666666
0.7083333333333334
0.75
0.7916666666666666
0.8333333333333334
0.875
0.9166666666666666
0.9583333333333334
1.0

-9342.68470749969

In [81]:
def generate_log_likelihood(player):
    sigmas = [1,2,3,4,5,10,20,40,60,80,100]
    y_vals = [log_likelihood(player, sigma**2) for sigma in sigmas]

In [80]:
#generate_log_likelihood('Simon Whitlock')